@use "variables" as *;

footer {
  background: $clr-black;
  font-family: $ff-main;
  padding: 3.5rem 3rem;
  text-align: center;

  @media (min-width: 980px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 3rem 10rem;
  }
}

.footer-links {
  list-style: none;
  font-size: .95rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  a,
  a:active {
    color: white;
    text-decoration: none;
    position: relative;
  }

  @media (min-width: 980px) {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.footer-links li a::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1.7rem;
	background-color: $clr-white;
	width: 0;
	height: 2px;
  transition: all .3s ease-in;
}

.footer-links li a:hover::before {
	width: 100%;
}

.footer-links li a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted $clr-white;
}

.footer-links li a:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.footer-links li a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted $clr-white;
}

.social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media (min-width: 980px) {
    justify-content: right;

    a {
      cursor: pointer;
      transform: scale(1);
      transition: all .2s ease
    }

    a:hover {
      transform: scale(1.15);
    }
  }
}

.social-media a:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted $clr-white;
}

.social-media a:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.social-media a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted $clr-white;
}

.copyright {
  color: $clr-gray-500;
  padding-top: 1rem;

  @media (min-width: 980px) {
    padding-top: 2rem;
  }
}