@use "variables" as *;

.hero {
  padding: 6rem 1.5rem;

  @media (min-width: 600px) {
    max-width: 33rem;
    margin: 0 auto;
  }

  @media (min-width: 860px) {
    max-width: 68.5rem;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    padding: 10rem 0rem;
    max-width: 68.5rem;
  }
}

.hero__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.hero__text-box {
  text-align: center;
  padding:  3rem 0;
  
  h2 {
    font-family: $ff-heading;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 1rem;
  }

  p {
    font-family: $ff-main;
    color: $clr-gray-500;
    line-height: 1.7;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 1200px) {
    width: 34rem;
    background: $clr-white;
    align-self:flex-end;
    margin-left: -9.5rem;
    text-align: left;
    padding: 6rem 0 0 6rem;

    h2 {
      font-size: 3rem;
    }

    p {
      padding-left: 0;
      padding-right: 0;
    }
  }
}