@use "variables" as *;

.our-creations {
  font-family: $ff-heading;
  text-transform: uppercase;
  margin: 0 1.5rem;

}

.title-wrapper {
  text-align: center;
  max-width: 68.5rem;

  @media (min-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 33rem;
  }

  @media (min-width:860px) {
    max-width: 68.5rem;
  }
}

.our-creations__title {
  font-size: 2rem;
  text-align: center;

  @media (min-width: 860px) {
    font-size: 3rem;
    text-align: left;
  }
}

.our-creations__grid {
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
  margin: 4rem auto 0 auto;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    max-width: 33rem;
  }

  @media (min-width: 860px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 68.5rem;
  }
}

.card-link,
.card-link:active {
  color: $clr-white;
  text-decoration: none;
  position: relative;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.card-link:hover {
  transform: scale(1.05);
}

.card-link:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 4px dotted $clr-black;
}

.card-link:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.card-link:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 4px dotted $clr-black;
}


.card-link figure {
  position: relative;
  
}

.card-link figure::before {
  content: "";
  background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0.3) 70%);
  position: absolute;
  z-index: 3;
  inset: 0;
}

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-title {
  position: absolute;
  bottom: 1.3rem;
  left: 1.5rem;
  z-index: 15;
  font-size: 1.5rem;
  width: 40%;
}

// BUTTONS 

.btn {
  all: unset;
  border: 2px solid black;
  cursor: pointer;
  padding: .75rem 2.5rem;
  line-height: 1;
  transition: all .2s ease;
  letter-spacing: 2px;
  font-family: $ff-main;
}

.btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted $clr-black;
}

.btn:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted $clr-black;
}

.btn:hover {
  background: $clr-black;
  color: $clr-white;
}

.our-creations__button-desktop {
  display: none;

  @media (min-width: 700px) {
    display: inline-block;
  }
}

.btn-mobile-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  display: grid;
  place-items: center;
}

.our-creations__button-mobile {

  @media (min-width: 700px) {
    display: none;
  }
}