@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300&display=swap');

// COLORS

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-gray-500: hsl(0, 0%, 55%);
$clr-gray-700: hsl(0, 0%, 41%);

// FONTS

$ff-main: 'Alata', sans-serif;
$ff-heading: 'Josefin Sans', sans-serif;